<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}Djangochat</title>

        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-teal-600">
        <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
            <div>
                <a href="/" class="text-xl text-white">Djangochat</a>
            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="/logout/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Log out</a>
                {% else %}
                    <a href="/login/" class="text-white hover:text-gray-200">Log in</a>
            
                    <a href="/signup/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Sign up</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>